<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="/static/style.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <title>Music</title>
    </head>

    <body>
        <!-- navigation bar -->
        <nav>
            <ul>
                <li><a href="/p/index.html">Home</a></li>
                <li><a href="/p/tour.html">Tour</a></li>
                <li><a href="/p/artists.html">Artists</a></li>
            </ul>
        </nav>
        <section>
            {% block content %}{% endblock %}
        </section>
    </body>
</html>