{% extends '_base.html' %}
{% block content %}

<body>
    <div class="artists">
        <div class="artist">
            <iframe src="https://open.spotify.com/embed/artist/4EdvImU6kORkmaUTlSmulG?utm_source=generator" width="100%" height="380" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
        </div>
        <div class="artist">
            <iframe src="https://open.spotify.com/embed/artist/7cih7BnULkMapW0ddpZywb?utm_source=generator" width="100%" height="380" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
        </div>
    </div>
</body>


{% endblock %}